<div class="container-fluid">
    <div class='row'>
        <div class="col-6">
                My Factory Manager
                <div class="file">
                    <form class="md-form">
                        <div class="file-field">
                            <a>
                            <i class="far fa-heart" aria-hidden="true"></i>
                            <input type="file">
                            </a>
                            <div class="file-path-wrapper">
                                <!-- <input class="file-path validate" type="text" placeholder="Upload your file"> -->
                                <form>
                                    <textarea id="code-python" name="code">
                                def foo():
                                  do_some_stuff()
                                  here
                                  return None
                                
                                class Bar:
                                  __init__(self):
                                    if True:
                                      print("True")
                                    else:
                                      print("False")
                                
                                  this_code_makes_no_sense():
                                    pass
                                    </textarea>
                                  </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="code"></div>
            </div>
            <div class="col-6">My Negotiation
                <div class="file">
                    <form class="md-form">
                        <div class="file-field">
                            <a>
                            <i class="far fa-heart" aria-hidden="true"></i>
                            <input type="file">
                            </a>
                            <div class="file-path-wrapper">
                                <!-- <input class="file-path validate" type="text" placeholder="Upload your file"> -->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="code"></div>
            </div>
    </div>
</div>

<script id="script">
    /*
     * Demonstration of code folding
     */
    window.onload = function() {
      var te = document.getElementById("code");
      var sc = document.getElementById("script");
      te.value = (sc.textContent || sc.innerText || sc.innerHTML).replace(/^\s*/, "");
      sc.innerHTML = "";
      var te_html = document.getElementById("code-html");
      te_html.value = document.documentElement.innerHTML;
      var te_python = document.getElementById("code-python");
      var te_markdown = document.getElementById("code-markdown");
      te_markdown.value = "# Foo\n## Bar\n\nblah blah\n\n## Baz\n\nblah blah\n\n# Quux\n\nblah blah\n"
    
      window.editor = CodeMirror.fromTextArea(te, {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
      });
      editor.foldCode(CodeMirror.Pos(13, 0));
    
      window.editor_html = CodeMirror.fromTextArea(te_html, {
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
      });
      editor_html.foldCode(CodeMirror.Pos(0, 0));
      editor_html.foldCode(CodeMirror.Pos(34, 0));
    
      window.editor_python = CodeMirror.fromTextArea(te_python, {
        mode: "python",
        lineNumbers: true,
        extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
      });
    
      window.editor_markdown = CodeMirror.fromTextArea(te_markdown, {
        mode: "markdown",
        lineNumbers: true,
        lineWrapping: true,
        extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
      });
    };
      </script>