    <div class="container-fluid">
        {% include "_select_charts_modal.html" %}
        <div class="gridster">
            <ul style="list-style-type: none;">
                <li data-row="1" data-col="1" data-sizex="2" data-sizey="2" >
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header text-center">Running Time</div>
                                <div class="card-body">
                                    <h5 align="center" id="runningtime" class="card-title">Info card title</h5>
                                </div>
                    </div>
                </li>
                <li data-row="1" data-col="3" data-sizex="2" data-sizey="2"> 
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header text-center">Current Step</div>
                                <div class="card-body">
                                    <h5 align="center" id="current_step" class="card-title">Info card title</h5>
                                </div>
                    </div>
                </li>
                <li data-row="1" data-col="5" data-sizex="3" data-sizey="2">
                    <div class="card text-white bg-info mb-3" style="max-width: 27rem;">
                            <div class="card-header text-center">Total Market Size</div>
                                <div class="card-body">
                                    <h5 align="center" class="card-title" id="market_size_total">Info card title</h5>
                                </div>
                    </div>
                </li>
                <li data-row="1" data-col="8" data-sizex="3" data-sizey="2">
                    <div class="card text-white bg-info mb-3" style="max-width: 27rem;">
                            <div class="card-header text-center">World name now</div>
                                <div class="card-body center">
                                    <h5 align="center" id="worldname" class="card-title">Info card title</h5>
                                </div>
                    </div>
                </li>
                <li data-row="1" data-col="11" data-sizex="2" data-sizey="2">
                    <div class="card-body">
                            <div id="liquid" style="width: 100%; min-height: 110px"></div>                                    
                        </div>
                </li>
                <li data-row="1" data-col="12" data-sizex="1" data-sizey="2">
                        <div class="row">
                            <a class="btn btn-outline-info" onclick="run('/run')" href="#" role="button"><i class="fas fa-play" style="color:#89D4DF"></i> Run   </a>
                        </div>
                        <div class="clearfix" style="margin-bottom: 40px;"></div>
                        <div class="row">
                            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter">
                                    <i class="fas fa-cog" style="color:#89D4DF"></i>Settings
                            </button>
                        </div>
                </li>
                <li data-row="3" data-col="1" data-sizex="8" data-sizey="6">
                    <div class="card">
                            <div class="card-header alert-dark">
                                Graph-Negmas Contract Signed
                            </div>
                            <div class="card-body">
                                <div id="graph" style="width: 100%; min-height: 300px"></div>
                            </div>
                    </div>
                </li>
                <li data-row="3" data-col="9" data-sizex="5" data-sizey="6">
                    <div class="card">
                            <div class="card-header alert-dark">
                                Product produce
                            </div>
                            <div class="card-body">
                                <div id="bar_product_produce" style="width: 100%; min-height: 300px"></div>                                    
                            </div>
                    </div>
                </li>
                <li data-row="9" data-col="1" data-sizex="8" data-sizey="6">
                    <div class="card">
                            <div class="card-header alert-dark">
                                Negmas-Agents Activation Level
                            </div>
                            <div class="card-body">
                                <div id="activation" style="width: 100%; min-height: 300px"></div>                                                                      
                            </div>
                    </div>
                </li>
                <li data-row="9" data-col="9" data-sizex="5" data-sizey="6">
                    <div class="card">
                            <div class="card-header alert-dark">
                                    Buyer and Seller 
                            </div>
                            <div class="card-body">
                                <div id="grid" style="width: 100%; min-height: 300px"> </div>                                                                                                       
                            </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        //instantiate gridster

        $(".gridster > ul").gridster({

            widget_margins: [8, 8],

            widget_base_dimensions: [100, 55]

        });
        // $('#draggable').draggable();
        function run(url){
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function(data){
                    console.log(data);
                },
                error: function(data){
                    console.log('receive data failure');
                }
            });
        }
    </script>
    <script>
        var chart = echarts.init(document.getElementById('graph'), 'white', {renderer: 'canvas'});
        var bar_product_produce_chart = echarts.init(document.getElementById('bar_product_produce'), 'white', {renderer: 'canvas'});
        var chart3d = echarts.init(document.getElementById('activation'),  'white', {renderer: 'canvas'});
        var liquid_chart = echarts.init(document.getElementById('liquid'), 'white', {renderer: 'canvas'});
        var buy_and_sell = echarts.init(document.getElementById('grid'), 'white', {renderer: 'canvas'});
        
        
        // var chart3d = echarts.init(document.getElementById('activation'), 'white', {renderer: 'canvas'});
        var old_data = [];
        $(
            function () {
                old_links = [];
                old_data_bar_product_produce = [];
                old_activation_level = {};
                old_buy_and_sell = [];

                getData(chart, bar_product_produce_chart, chart3d, buy_and_sell);
                getLiquidData(liquid_chart);
                setInterval(RealTimeDynamicData, 1000);
            }
        );

        function getData(chart, bar_product_produce_chart, chart3d, buy_and_sell) {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/GraphChart",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    //  initial for graph, contract signed
                    chart.setOption($.parseJSON(result.graph));
                    old_links = chart.getOption().series[0].links;

                    // initial for bar product produce
                    bar_product_produce_chart.setOption($.parseJSON(result.product));
                    old_data_bar_product_produce = bar_product_produce_chart.getOption().series;

                    // initial for activation level
                    chart3d.setOption($.parseJSON(result.activation_level));
                    old_activation_level = chart3d.getOption().series;
                    //  initial for buy and sell
                    buy_and_sell.setOption($.parseJSON(result.buy_and_sell));
                    old_buy_and_sell = buy_and_sell.getOption().series;

                    //  initial for breach

                    //  initial for negotiation
                }
            });
        }

        function getLiquidData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/Liquid",
                dataType: "json",
                success: function (result) {
                    liquid_chart.setOption(result);
                    old_data_liquid = liquid_chart.getOption().series[0].data;
                    console.log("old_data_liquid"+old_data_liquid);
                }
            });
        }

        function RealTimeDynamicData(){
            $.ajax({
                type: "GET",
                url: '/RealTimeDynamicData',
                dataType: 'json',
                success: function (result){
                    console.log(result);
                    $("#worldname").html(result.worldname);
                    $("#current_step").html(result.current_step);
                    $("#runningtime").html(result.runningtime);
                    $("#market_size_total").html(result.market_size_total); 
                    
                    // update graph contract signed 
                    for (var edge in result.graph_result){
                        old_links.push({source:result.graph_result[edge].source, target:result.graph_result[edge].target});
                    }
                    chart.setOption({
                        series: [{links: old_links}]
                    });
                    old_data_liquid = result.liquid_chart_dyn
                    // for (var data in result.liquid_chart_dyn){
                    //     old_data_liquid.push(data);
                    // }
                    liquid_chart.setOption({
                        series: [{data: old_data_liquid}]
                    });

                    //  update product produce 
                    for (var factory in old_data_bar_product_produce) {
                        name = old_data_bar_product_produce[factory].name;
                        old_data = old_data_bar_product_produce[factory].data;
                        new_data = []
                        $.each(result.product_produce[name], function(index, value){
                            new_data.push(old_data[index] + value);
                        });
                        old_data_bar_product_produce[factory].data = new_data;
                    }
                    bar_product_produce_chart.setOption(
                            {series: old_data_bar_product_produce}
                        );

                    //  TODO update activation level
                    old_data = old_activation_level[0].data;
                    $.each(old_data, function(index, value){
                        if (value[0] == result.current_step){
                            console.log("result activation_level and new result");
                            new_activation_level = result.activation_level[value[1]]
                            console.log("new_activation_level");
                            console.log(new_activation_level);
                            old_data[index][2] = value[1] + result.activation_level[value[1]];

                        }
                    });

                    chart3d.setOption({series: [{"data":old_data}]});

                    //  update buy and sell 
                    // data = result.buyer_and_seller;
                    // for (var product in old_buy_and_sell) {
                    //     name = old_buy_and_sell[product].name;
                    //     type = old_buy_and_sell[product].type;
                    //     old_data = old_buy_and_sell[product].data;
                    //     if ( type == 'bar') {
                    //         stack = old_buy_and_sell[product].stack;
                    //         new_data = [];
                    //         $.each(result.buyer_and_seller[stack][name], function(index, value){
                    //             new_data.push(old_data[index] + value);
                    //         });
                    //         old_buy_and_sell[product].data = new_data;
                    //     } 
                    
                    // console.log("old buy and sell");
                    // console.log(old_buy_and_sell);
                    // buy_and_sell.setOption(
                    //     {
                    //         series: old_buy_and_sell
                    //     }
                    // );

                    //  TODO update breach

                    //  TODO update negotiation

                // }
                },
                error: function (result){
                    console.log('real time dynamic data failure!')
                }
            });

        }
    
    </script>